$color-primary: rgba(77, 196, 154, 0.69);
$color-primary-hover: #52ddb1;
$color-secondary-active: #e6e6e6;
$color-background: #faf6f2;

$colorGreen: #45bd87;

$color-link-base: #69a41b;
$color-secondary: #2a3134;

$color-bg-primary: white;
$color-bg-secondary: #f3f3f3;
$color-bg-green: #afd878;
$color-header-secondary: #626d73;

$color-bg-dark: #394347;

$color-font-dark: #222;
$color-font-base: #626d73;
$color-font-light: #9ba5aa;
$color-font-lighten: #C4D0D6;
$color-font-black: #000;
$color-font-semi-black: #333;

$color-line-base: #798489;
$color-line-light: rgba(158, 158, 158, 0.41);
$color-line-lighten: #9e9e9e;

