@mixin green-button() {
 // @include green-button();
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 14px;
  line-height: 1; // set only relative value
  padding: 14px;
  border-radius: 30px;
  cursor: pointer;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s ease;

  &_primary {
    background: $color-primary;
    color: white;

    box-shadow: 0 2px 17px -1px rgba(76, 196, 154, 0.52);

    &:hover{
      background: $color-primary-hover;
      box-shadow: 0 2px 13px -5px rgba(76, 196, 154, 1);
    }
  }

  &_secondary {
    color: #555;

    &.is-active {
      background-color: $color-secondary-active;
    }

    &:not(.is-active):hover{
      background: #fbfbfb;
      box-shadow: 0 2px 13px -5px rgba(0, 0, 0, 0.35);
    }
  }

  &_wide {
    min-width: 25rem;
    padding: 14px 26px;
  }

  &_icon {
    position: relative;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: inherit;
      font-size: 1.2rem;
      text-align: center;
      letter-spacing: 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }
}

.col.span_1.delete-button {
  text-align: right;
}

@media (min-width: 690px) {
  .col.span_1.delete-button {
    width: 8.5% !important;
  }
}

.delete-button i {
  top: 5px;
}

.delete-post-button i:hover {
  cursor: pointer;
}

.js-loading i {
  opacity: 0;
}

.js-loading {
  background-image: url('../../images/reload.gif');
  background-repeat: no-repeat;
  min-height: 40px;
}

.semi-opaque {
  opacity: .2;
}

.invisible {
  opacity: 0;
}

.delete-post-button-js {
  position: absolute;
  z-index: 10;
  right: 2%;
  top: 33%;
}

.delete-post-button-js i:hover {
  cursor: pointer;
}

.row {
  padding-bottom:0 !important;
}

.half-opacity {
  opacity: .9;
}

.button_middle {
  min-width: 12rem;
  padding: 14px 26px;
  margin: 10px;
}

.delete-dropdown {
  position: absolute;
  top: -30px;
  left: -140px;
  min-width: 150px;
  font-size: .7em;
  background: $color-primary;
  border-radius: 4px;
  padding: 7px;
  text-transform: capitalize;
  opacity: .6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.semi-opaque {
  opacity: .2;
}


.confirm-message {
  position: fixed;
  top: 20%;
  left: 20%;
  min-width: 60%;
  min-height: 180px;
  font-size: 1.3em;
  text-align: center;
  background: rgb(251, 246, 240);
  border-radius: 3px;
  opacity: 1 !important;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  z-index: 100;
  box-shadow: 5px 10px 24px 8px #888888;
}

@media (max-width: 576px) {
  .confirm-message {
    top: 20%;
    left: 2%;
    min-width: 96%;
  }
  .confirm-buttons-holder {
    flex-wrap: wrap;
    margin: 5px 10% !important;
  }
  .confirm-buttons-holder div {
    width: 90%;
  }
}

.magic-screen {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  opacity: .7;
  width: 2000px;
  height: 1000px;
}

.no-scroll {
  overflow: hidden !important;
}

.confirm-buttons-holder {
  position: relative;
  font-weight: 600;
  top: 20px;
  display: flex;
  margin: 5px 25%;
  justify-content: center;
}

.invisible {
  opacity: 0;
}
