@mixin green-button() {
 // @include green-button();
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 14px;
  line-height: 1; // set only relative value
  padding: 14px;
  border-radius: 30px;
  cursor: pointer;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s ease;

  &_primary {
    background: $color-primary;
    color: white;

    box-shadow: 0 2px 17px -1px rgba(76, 196, 154, 0.52);

    &:hover{
      background: $color-primary-hover;
      box-shadow: 0 2px 13px -5px rgba(76, 196, 154, 1);
    }
  }

  &_secondary {
    color: #555;

    &.is-active {
      background-color: $color-secondary-active;
    }

    &:not(.is-active):hover{
      background: #fbfbfb;
      box-shadow: 0 2px 13px -5px rgba(0, 0, 0, 0.35);
    }
  }

  &_wide {
    min-width: 25rem;
    padding: 14px 26px;
  }

  &_icon {
    position: relative;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: inherit;
      font-size: 1.2rem;
      text-align: center;
      letter-spacing: 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }
}

.col.span_1.delete-button {
  text-align: center;
}

.delete-button i {
  top: 5px;
}

.delete-post-button i:hover {
  cursor: pointer;
}

.js-loading i {
  opacity: 0;
}

.js-loading {
  background-image: url('../../images/reload.gif');
  background-repeat: no-repeat;
  min-height: 40px;
}

.delete-dropdown {
  position: absolute;
  top: -30px;
  left: -140px;
  min-width: 150px;
  font-size: .7em;
  background: $color-primary;
  border-radius: 4px;
  padding: 7px;
  text-transform: capitalize;
  opacity: .6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.semi-opaque {
  opacity: .2;
}


.confirm-message,
.after-delete-message {
  position: fixed;
  top: 50px;
  left: 300px;
  min-width: 600px;
  //min-height: 100px;
  font-size: 1.3em;
  text-align: center;
  background: $color-primary;
  border-radius: 3px;
  opacity: 1 !important;
  padding: 7px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  z-index: 100;
  padding: 2% 0;
}

.confirm-buttons-holder {
  position: relative;
  color: white;
  top: 20px;
  display: flex;
  margin: 5px 25%;
  justify-content: center;
}

.confirm-button {
  width: 200px;
  background-color: #ff6749;
  border-radius: 10px;
  margin: 0 10px;
  cursor: pointer;
  transition: .3s background-color;
}
.confirm-button:hover {
  background-color: #ff2b00;
}

.cancel-button {
  width: 200px;
  background-color: #088aff;
  border-radius: 10px;
  justify-content: center;
  margin: 0 10px;
  cursor: pointer;
  transition: .3s background-color;
}
.cancel-button:hover {
  background-color: #0850ff;
}

.continue-button {
  width: 200px;
  background-color: #086c09;
  border-radius: 10px;
  justify-content: center;
  margin: 0 10px;
  cursor: pointer;
  transition: .3s background-color;
}
.continue-button:hover {
  background-color: #054606;
}

@mixin continue() {
  &-button {
    background: $color-primary;
    color: white;

    box-shadow: 0 2px 17px -1px rgba(76, 196, 154, 0.52);

    &:hover {
      background: $color-primary-hover;
      box-shadow: 0 2px 13px -5px rgba(76, 196, 154, 1);
    }
  }
}

.invisible {
  opacity: 0;
}

