html {
  font-size: 10px!important;
  background-color: $color-background;

  @media (max-width: $laptop) {
    font-size: 9px!important;
  }

  @media (max-width: $pad) {
    font-size: 8.5px!important;
  }

  @media (max-width: $padmini) {
    font-size: 8px!important;
  }

  @media (max-width: $mobile) {
    font-size: 7.5px!important;
  }
}
.box{
  max-width: $desktop;
  width: 100%;
  padding: 0 3rem;
  margin: auto;
}

#wrapper {
  max-width: 100%;
  overflow: hidden;
  min-width: 320px;
  min-height: 100vh;
}

main {
  padding: 3rem 0;
}